

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/orders.css" type="text/css" />

    <!-- Scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <link rel="stylesheet" href="/styles/checkout-timer.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css">

    <title>Checkout Success</title>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark nickShopPageHotFixNav">
        <div class="navbar-nav">
            <h1><a class="text-light" href='#'>Lighthouse Eats</a></h1>
        </div>
      </nav>

      
      <h1 class="order-success-header">Thank you, we received your order.</h1>
      <p class="order-success-text">Ready in...</p>
      <div id="countdown">
        <span>
                <p id="countdown-number"></p><p class='timer-text'> minutes</p>
        </span>
        <svg>
            <circle r="72" cx="80" cy="80"></circle>
        </svg>
    </div>



    <script type="text/javascript" src="/scripts/checkout-timer.js"></script>
  </body>

