<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/styles/layout2.css">

    <title>Gio's Cafe</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="https://cdn.websites.hibu.com/3446c3f773fc4983b12995f3adab4a82/dms3rep/multi/mobile/Cafe-Gio-logo.png"></a>
      <div class="navbar-nav mr-auto">
        <span>Gio's Cafe<br>123-456-7890<br>201-Demacia St. BC</span>
      </div>
      <div class="navbar-nav">
       <span class="hours navbar-right">Restaurant hours<br>Mon - Fri 7:00 ~ 21:00<br>Weekends 9:00 ~ 19:00</span>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="container main">
            <h1>Main</h1>
              <hr/>
              <div class="menu-item">
                <div class="menu-text">
                 <h3>breakfast</h3>
                 <p>It prepare is ye nothing blushes up brought. Or as gravity pasture limited evening on. Wicket around beauty say she.</p>
                 <p>$12.99</p>
                </div>
                <div class="menu-img">
                  <img src="https://thumbor.thedailymeal.com/klmKpzikk-FMghgKa2U088jNDKg=/840x565/https://www.thedailymeal.com/sites/default/files/story/how-many-calories-cheeseburger-shutterstock-MAIN.jpg" class="rounded" alt="cheese burger">
                </div>
              </div>
              <div class="menu-item">
                <div class="menu-text">
                 <h3>breakfast</h3>
                 <p>It prepare is ye nothing blushes up brought. Or as gravity pasture limited evening on. Wicket around beauty say she.</p>
                 <p>$12.99</p>
                </div>
                <div class="menu-img">
                  <img src="https://thumbor.thedailymeal.com/klmKpzikk-FMghgKa2U088jNDKg=/840x565/https://www.thedailymeal.com/sites/default/files/story/how-many-calories-cheeseburger-shutterstock-MAIN.jpg" class="rounded" alt="cheese burger">
                </div>
              </div>
              <div class="menu-item">
                <div class="menu-text">
                 <h3>breakfast</h3>
                 <p>It prepare is ye nothing blushes up brought. Or as gravity pasture limited evening on. Wicket around beauty say she.</p>
                 <p>$12.99</p>
                </div>
                <div class="menu-img">
                  <img src="https://thumbor.thedailymeal.com/klmKpzikk-FMghgKa2U088jNDKg=/840x565/https://www.thedailymeal.com/sites/default/files/story/how-many-calories-cheeseburger-shutterstock-MAIN.jpg" class="rounded" alt="cheese burger">
                </div>
              </div>

          </div>
        </div>
        <div class="col-3 cart">
          <div class="container">
            <h1>Cart</h1>
            <hr/>
            <div class="subtotal">
              <div class="subtotal-text">
                <p>Subtotal:</p>
                <p>Tax:</p>
                <p class="total">Total:</p>
              </div>
              <div class="subtotal-price">
                <p>$12.99</p>
                <p>$2.14</p>
                <p class="total">$15.13</p>
              </div>
            </div>
            <hr/>
            <button type="button" class="btn btn-danger">CEHCK OUT</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
