<h1>Shop Listing Page</h1>
<header>
    <nav>NAV BAR</nav>
</header>
<div class="banner">
    <h1>Greeting msg</h1>
</div>
<div class="container">
    <div class="restaurant">
        <p>SHOP NAME</p>
        <p>SHOP IMG WITH LINK</p>
    </div>
</div>

<!-- ADD RESTR AS LIST ITEM IN CONTAINER-->
<ul>
    <li></li>
</ul>

<% restrs.forEach( (restr) => { %>
    <%= restr.name %>
<% } ) %>