body {
    height: 100%;
    width: 100%;
    background-color: #010101 !important;
  }
  
  #countdown {
    position: relative;
    margin: auto;
    margin-top: 200px;
    height: 160px;
    width: 160px;
    text-align: center;
    font-family: oswald;
    font-size: 22px;
  }
  
  #countdown-number {
    color: whitesmoke;
    display: inline-block;
    line-height: 160px;
  }
  
  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 160px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  
  svg circle {
    stroke-dasharray: 452px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 3px;
    stroke: white;
    fill: none;
    animation: countdown 1800s linear infinite forwards;
  }
  
  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 452px;
    }
  }


p.timer-text {
    display: inline;
    color: whitesmoke;
    font-size: small;
}

h1.order-success-header {
    text-align: center;
    position: relative;
    top: 3em;
    color:white;
}

p.order-success-text {
    position: relative;
    text-align: center;
    color: white;
    top: 12em;
}