body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

body {
  background-color: #dddddd;
  background-size: cover;
}

button {
  border-radius: 5px;
}

.qty {
  border-radius: 5px;
}

.main {
  height: 100%;
  background: white;
}

.menu-text {
  margin-right: 0.5em;
}

.menu-img {
  text-align: right;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border-bottom: 1px solid #ddd;
}

.menu-item:last-child {
  border: none;
}

.menu-item p {
  font-size: 1rem;
}

.menu-item h3 {
  font-size: 1.3rem;
}

.menu-item img {
  width: 18em;
  height: 12em;
}

.btn-warning {
  width: 42px;
  height: 30px;
  padding: 0;
}

.main {
  padding-top: 1em;
}

.cart {
  padding-top: 1em;
  box-shadow: -10px 5px 5px #ccc;
  position: fixed;
  right: 10%;
  height: 100%;
  background: white;
}

.cart p {
  margin: 0;
}

.cart em {
  font-size: 1.1rem;
  color: #285091;
}

.subtotal {
  display: flex;
  justify-content: space-between;
}

.total {
  font-weight: bold;
}

.subtotal-price {
  text-align: right;
}

.cart button {
  margin-bottom: 1em;
  width: 100%;
}
