.orders {
  padding: 1rem;
}

.orders .order {
  padding: 0.7rem;
  text-align: left;
  border-bottom: 1px solid #aaa;
}

.orders .order h3 {
  font-size: 1.2rem;
}

.orders .order p {
  font-size: 1rem;
}

.orders .order .order-contact {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.orders .order .order-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.7rem;
  padding-top: 0.7rem;
  border-top: 1px solid #ddd;
}

.orders .order .order-buttons {
  text-align: center;
}
