.orders {
  padding: 1rem;

  .order {
    padding: 0.7rem;
    text-align: left;
    border-bottom: 1px solid #aaa;

    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }

    .order-contact {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.7rem;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    .order-items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1rem;
    }

    .order-buttons {
      text-align: center;
    }
  }
}
